<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>鞋垫无法联网</title>
  <style type="text/css">
    [v-cloak] {
      display: none;
    }
    .swiper-container {
      width: 120px !important;
      height: 65px !important;
    }
  </style>
</head>

<body>
  <div class="mt20 mb20 mr20 ml20" id="app" v-cloak>
    <h3 class="mb20">{{title}}</h3>
    <ul v-for="fixing in content" v-if="content.length > 0">
      <li>
        <h4 class="text sm mt10">{{fixing.title}}</h4>
      </li>
      <li v-for="text in fixing.text" v-if="fixing.text && fixing.text.length > 0">
        <span class="ml20 text sm weak">{{text}}</span>
      </li>
      <li class="row-center mt10 mb10" v-if="fixing.swiper && fixing.swiper.length > 0">
        <mt-swipe :auto="0" :continuous="false" class="swiper-container">
          <mt-swipe-item v-for="(item, key) in fixing.swiper" :key="key">
            <img :src=item :alt=item />
          </mt-swipe-item>
        </mt-swipe>
      </li>
    </ul>
    <Back />
  </div>
</body>

</html>