<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>用户帮助</title>
</head>
<body>
      <div id="app">
        <mt-cell v-for="item in nav" key="index" :title="item.text" :to="item.url" is-link></mt-cell>


        <div class="contact-container">
          <mt-cell  class="contact mt10" v-for="item in contact" key="index" :icon="item.icon" :title="item.text" :to="item.url" :label="item.label">
            <div class="img-icon">
                <img slot="icon" :src="item.icon" width="24" height="24">
            </div>
        </mt-cell>
      </div>
      </div>
</body>
</html>